body {
    font-family: 'Open Sans', sans-serif;
}

#branding {
    background: url('/images/logo.png') top left no-repeat;
    height: 45px;
    position: relative;
    margin-bottom: 2em;
}

#branding span {
    display: inline-block;
    padding-left: 130px;
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    bottom: 0;
}

.attention code {
    padding: 5px 5px 2px;
    color: #d83e3e;
}

.attention {
    display: block;
    padding: 12px 16px;
    border-top: 10px solid;
    margin: 12px 0;
}

.danger {
    border-color: #d83e3e;
    background: #ffdada;
}

.danger::before {
    content: "Warning: ";
    font-weight: bold;
    background: #d83e3e;
    color: #fff;
    padding: 0 3px 2px 7px;
    margin-right: 10px;
}

.note {
    border-color: #6ab0de;
    background: #e7f2fa;
}

.note::before {
    content: "Note: ";
    font-weight: bold;
    background: #6ab0de;
    color: #fff;
    padding: 0 3px 2px 7px;
    margin-right: 10px;
}

.important {
    border-color: #1abc9c;
    background: #dbfaf4;
}

.important::before {
    content: "Important: ";
    font-weight: bold;
    background: #1abc9c;
    color: #fff;
    padding: 0 3px 2px 7px;
    margin-right: 10px;
}

.warning {
    border-color: #f0b37e;
    background: #ffedcc;
}

.warning::before {
    content: "Warning: ";
    font-weight: bold;
    background: #f0b37e;
    color: #fff;
    padding: 0 3px 2px 7px;
    margin-right: 10px;
}

.review {
    border-color: #44a8af;
    background: #a5eaef;
}

.review::before {
    content: "Needs Review: ";
    font-weight: bold;
    background: #44a8af;
    color: #fff;
    padding: 0 3px 2px 7px;
    margin-right: 10px;
}

/* Macro NavCrumb*/

ul.navcrumb {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin: 0;
}

.navcrumb li {
    float: left;
}

.navcrumb li::after {
    content: " |";
    padding-right: 0.25em;
}

.navcrumb li:first-child::after, .navcrumb li:last-child::after {
    content: "";
}


/* Sidebar */
#sidebar-content {
    padding: 10px 5px 0 5px;
}

li.active a {
    color: gray;
}
