+++
title = "uzERP"
linkTitle = "uzERP"
+++

{{% blocks/lead color="white" height="small"%}}
<div class="col">
<h1 class="text-center">Welcome to the uzERP Documentation and Support Site</h1>
</div>
{{% /blocks/lead %}}


{{% blocks/lead color="primary" %}}
uzERP is a suite of business software that delivers big company functionality on a small company budget, including accounting, stock, manufacturing and more.

uzERP is free, Open Source software
{{% /blocks/lead %}}

{{< blocks/section color="light" >}}
{{% blocks/feature icon="fa-lightbulb" title="Ask a Question" url="https://github.com/uzerpllp/uzerp/discussions" %}}
Our Forum is a great place to ask questions and get help with uzERP.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-book" title="Documentation" url="https://doc.uzerp.com/docs/" %}}
The [uzERP documentation]({{< ref "docs" >}}) is work in progress but contains useful information on how to set-up and use uzERP. [Ask a question](https://github.com/uzerpllp/uzerp/discussions) on our forum if you need more help.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-industry" title="Commercial Support" %}}
If you need commercial support, implementation assistance or want to understand how uzERP can help you or your business, please [contact us](https://www.uzerp.com/contact/).
{{% /blocks/feature %}}


{{< /blocks/section >}}


