<a id="logo" href="{{ .Site.BaseURL }}">
  <svg
  width="100mm"
  height="15mm"
  >
 <g
    inkscape:label="Layer 1"
    inkscape:groupmode="layer"
    id="layer1"
    transform="translate(-19.265851,-57.643375)">
   <g
      transform="matrix(0.33072917,0,0,-0.33072917,-24.514952,274.28388)"
      id="g12">
     <g
        clip-path="url(#clipPath16)"
        id="g14">
       <g
          transform="translate(172.6116,580.225)"
          id="g20">
         <path
            inkscape:connector-curvature="0"
            id="path22"
            style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
            d="M 0,0 C 19.098,0 34.579,15.482 34.579,34.579 34.579,53.677 19.098,69.158 0,69.158 -19.098,69.158 -34.579,53.677 -34.579,34.579 -34.579,15.482 -19.098,0 0,0" />
       </g>
       <g
          transform="translate(172.6116,580.225)"
          id="g24">
         <path
            inkscape:connector-curvature="0"
            id="path26"
            style="fill:none;stroke:#231f20;stroke-width:11.31200027;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            d="M 0,0 C 19.098,0 34.579,15.482 34.579,34.579 34.579,53.677 19.098,69.158 0,69.158 -19.098,69.158 -34.579,53.677 -34.579,34.579 -34.579,15.482 -19.098,0 0,0 Z" />
       </g>
       <g
          transform="translate(212.9852,580.225)"
          id="g28">
         <path
            inkscape:connector-curvature="0"
            id="path30"
            style="fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none"
            d="M 0,0 C 19.098,0 34.579,15.482 34.579,34.579 34.579,53.677 19.098,69.158 0,69.158 -19.098,69.158 -34.579,53.677 -34.579,34.579 -34.579,15.482 -19.098,0 0,0" />
       </g>
       <g
          transform="translate(212.9852,580.225)"
          id="g32">
         <path
            inkscape:connector-curvature="0"
            id="path34"
            style="fill:none;stroke:#231f20;stroke-width:11.31200027;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            d="M 0,0 C 19.098,0 34.579,15.482 34.579,34.579 34.579,53.677 19.098,69.158 0,69.158 -19.098,69.158 -34.579,53.677 -34.579,34.579 -34.579,15.482 -19.098,0 0,0 Z" />
       </g>
       <g
          transform="translate(192.7984,586.7686)"
          id="g36">
         <path
            inkscape:connector-curvature="0"
            id="path38"
            style="fill:#00adef;fill-opacity:1;fill-rule:nonzero;stroke:none"
            d="M 0,0 C 8.705,6.279 14.392,16.482 14.392,28.036 14.392,39.589 8.705,49.792 0,56.071 -8.705,49.792 -14.392,39.589 -14.392,28.036 -14.392,16.482 -8.705,6.279 0,0" />
       </g>
       <g
          transform="translate(192.7984,586.7686)"
          id="g40">
         <path
            inkscape:connector-curvature="0"
            id="path42"
            style="fill:none;stroke:#231f20;stroke-width:11.31200027;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            d="M 0,0 C 8.705,6.279 14.392,16.482 14.392,28.036 14.392,39.589 8.705,49.792 0,56.071 -8.705,49.792 -14.392,39.589 -14.392,28.036 -14.392,16.482 -8.705,6.279 0,0 Z" />
       </g>
     </g>
   </g>
   <text
      y="106.97567"
      x="19.66901"
      id="text44"
      style="font-variant:normal;font-weight:normal;font-stretch:normal;font-size:33.22637177px;font-family:'Handel Gothic BT';-inkscape-font-specification:HandelGothicBT-Regular;writing-mode:lr-tb;fill:#231f20;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.33072916">
     <tspan
        style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-family:'Handel Gothic D';-inkscape-font-specification:'Handel Gothic D Medium';stroke-width:0.33072916"
        id="tspan46"
        y="106.97567"
        x="19.66901 39.671288 59.075493 81.536514 106.4563">uzERP</tspan>
   </text>
  </g>
  </svg>
</a>
